* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

ul {
  list-style: none;
}

li {
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

a:hover {
  color: red;
}

h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  color: rgba(29, 234, 241, 0.644);
}

h2 {
  font-size: 2rem;
  line-height: 5rem;
  padding-left: 2REM;
  color: rgb(49, 7, 233);
}

p {
  font-size: 1.5rem;
  color: white;
}

img {
  max-width: 100%;
}

.imagen-header {
  height: 15rem;
  margin-right: auto;
}

body {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/fondo-body.jpg);
  background-position: fixed;
  background-size: 100%;
}

.contenedores-historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

@media screen and (min-width: 992px) {
  .contenedores-historia {
    flex-direction: row;
  }
}
.contenedores-historia img {
  height: 350px;
}

.video {
  align-items: center;
}

.seiya {
  width: 17rem;
}

.saori {
  width: 20rem;
  height: 24rem;
}

#personajes {
  display: grid;
  grid-template-areas: "head head head" "personajes personajes personajes" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
}

#principales {
  grid-area: personajes;
}

#principales h1,
#principales p {
  text-align: center;
  font-size: 3rem;
}

.papa-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media screen and (max-width: 990px) {
  .papa-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "head" "head" "personajes" "personajes" "footer" "footer";
  }
}
@media screen and (max-width: 750px) {
  .papa-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.protagonistas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.protagonistas li {
  text-align: center;
  font-size: 1.5rem;
}

.protagonistas img:hover {
  height: 450px;
  width: 450px;
}

/* PERSONAJES */
/* DESKTOP FIRST */
#figuras {
  display: grid;
  grid-template-areas: "head head head" "productos productos productos" "footer footer footer";
}

/* card */
#productos {
  grid-area: productos;
}

#productos p {
  text-align: center;
  font-size: 2rem;
}

.padre-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media screen and (max-width: 970px) {
  .padre-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px auto 20px;
    grid-template-areas: "head" "head" "productos" "productos" "footer" "footer";
  }
}
@media screen and (max-width: 767px) {
  .padre-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hijo-card {
  border: solid 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.hijo-card img:hover {
  height: 450px;
  width: 450px;
}

.imagen-shaka {
  width: 19rem;
}

.boton-figuras {
  border-radius: 3px;
  display: inline-block;
  padding: 10px 15px;
  margin-top: 1rem;
}

.boton-figuras:hover {
  background-color: darkgrey;
}

/* CAPITULOS */
#capitulos {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Cap {
  font-size: 1.5rem;
  background-color: darkseagreen;
  margin-bottom: 1rem;
}

.Arcos {
  font-size: 1.5rem;
  background-color: gray;
  margin-top: 1rem;
}

.temporadas {
  width: 50rem;
  height: 23rem;
}

#formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  background-color: rgb(172, 159, 159);
  padding: 15px;
  box-shadow: 10px 10px 10px;
}

input:focus {
  width: 300px;
  outline: none;
}

/* Todos mis footer tienen el mismo ID */
#padre-footer {
  grid-area: footer;
  background-color: aqua;
  display: flex;
  justify-content: center;
}

.redes a {
  margin-bottom: 1rem;
  margin-left: 5rem;
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
  height: 45px;
  width: 45px;
  line-height: 45px;
  background-color: #0d2033;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
