/* Variable Color body*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

/* mis 5 headers estan enlazados con el mismo ID*/
#padre-header {
  grid-area: head;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

#padre-header li {
  background-color: black;
  padding: 0.3rem 2rem;
}

.imagen-header {
  max-width: 100%;
  height: 15rem;
  margin-right: auto;
}

body {
  background-image: linear-gradient(#9932c9, #0000f0);
}

#navegacion {
  display: flex;
  gap: 0.3rem;
}

/* INDEX */
.imagen-inicio {
  max-width: 100%;
  height: 17rem;
  margin-top: 2rem;
}

#padre-index {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.seiya {
  max-width: 100%;
  width: 25rem;
}

.saori {
  max-width: 100%;
  width: 25rem;
  height: 35rem;
}

#personajes {
  display: grid;
  grid-template-areas: "head head head" "personajes personajes personajes" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
}

#principales {
  grid-area: personajes;
}

#principales h1,
#principales p {
  text-align: center;
  color: black;
  font-size: 3rem;
}

.card {
  border: solid 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* PERSONAJES */
/* DESKTOP FIRST */
#figuras {
  display: grid;
  grid-template-areas: "head head head" "productos productos productos" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px auto 20px;
}

@media screen and (max-width: 910px) {
  #padre-header {
    flex-direction: column;
  }
}
@media screen and (max-width: 625px) {
  #navegacion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}
/* card */
#productos {
  grid-area: productos;
}

#productos h1,
#productos p {
  text-align: center;
  color: black;
  font-size: 2rem;
}

.padre-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  justify-items: center;
}

@media screen and (max-width: 970px) {
  .padre-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px auto 20px;
    grid-template-areas: "head" "head" "productos" "productos" "footer" "footer";
  }
}
@media screen and (max-width: 767px) {
  .padre-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hijo-card {
  border: solid 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.imagen-shaka {
  width: 19rem;
  max-width: 100%;
}

.boton-figuras {
  border-radius: 3px;
  display: inline-block;
  padding: 10px 15px;
}

/* CAPITULOS */
.Cap {
  padding-left: 2rem;
}

.Arcos {
  line-height: 3rem;
  padding-left: 1rem;
  border: solid 0.2rem;
  width: 10rem;
  background-color: gray;
  text-align: center;
}

h2 {
  line-height: 5rem;
  padding-left: 2REM;
}

.formulario {
  display: flex;
  text-align: center;
  flex-direction: column;
}

form {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 30px;
}

/* Todos mis footer tienen el mismo ID */
#padre-footer {
  grid-area: footer;
  background-color: yellow;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
