/* CAPITULOS */



.Cap {
    padding-left: 2rem;
    
    
}
.Arcos {
    line-height: 3rem;
    padding-left: 1rem;
    border: solid .2rem;
    width: 10rem;
    background-color: gray;
    text-align: center;
   
}
h2 {
    line-height: 5rem;
    padding-left: 2REM;
}
