/* CAPITULOS */
#capitulos{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Cap {
    font-size: $fuente-chica;
    border: solid .2rem;
    background-color: darkseagreen;
    margin-bottom: 1rem;
}
.Arcos {
    font-size: $fuente-chica;
    border: solid .2rem;
    background-color: gray;
    margin-top: 1rem;
}
h2 {
    font-size: $fuente-mediana;
    line-height: 5rem;
    padding-left: 2REM;
}
.temporadas{
    width: 28rem;
    height: 23rem;
}

    