/* CAPITULOS */
#capitulos{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Cap {
    font-size: $fuente-chica;
    background-color: darkseagreen;
    margin-bottom: 1rem;
}
.Arcos {
    font-size: $fuente-chica;
    background-color: gray;
    margin-top: 1rem;
}

.temporadas{
    width: 50rem;
    height: 23rem;
}

    