
/* PERSONAJES */
/* DESKTOP FIRST */

#figuras{
    display: grid;
    grid-template-areas:
    "head head head"
    "productos productos productos"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px auto 20px;
    
}



/* card */

#productos{
    grid-area: productos;     
}
#productos h1,
#productos p{
    text-align: center;
    color: black;
    font-size: 2rem;
}
.padre-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

@media screen and (max-width: 970px){
    .padre-card{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 600px auto 20px;
        grid-template-areas:
        "head" "head"
        "productos" "productos"
        "footer" "footer";
    }
}
@media screen and (max-width: 767px){
    .padre-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
    


.hijo-card{
    border: solid 2px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    
}
.imagen-shaka{
    width: 19rem;
}

.boton-figuras{
    border-radius: 3px;
    display: inline-block;
    padding: 10px 15px;
    margin-top: 1rem;
}
.boton-figuras:hover{
    background-color:darkgrey;
}

