*   {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62,5%;
}


ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: white;
    font-size: $fuente-chica;
    
}
h1 {
    font-size: $fuente-grande;
    padding-bottom: 2rem;
}
p {
    font-size: $fuente-chica;
}
img {
    max-width: 100%;
}
img:hover {
height: 450px;
width: 450px;
}
/* mis 5 headers estan enlazados con el mismo ID*/

#padre-header{
    grid-area: head;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}
#padre-header li{
    background-color: black;
    padding: .3rem 2rem;
}
@media screen and (max-width: 910px){
    #padre-header{
        flex-direction: column;
    }
}



.imagen-header {
    height: 15rem;
    margin-right: auto;
    
}

body {
    background-image: $bg-body;
}

#navegacion{
    display: flex;
    gap: 0.3rem;
}
@media screen and (max-width: 625px){
    #navegacion{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
    }
}