*   {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62,5%;
}


ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: white;
    font-size: $fuente-chica;
    
}
a:hover{
    color: red;
}
h1 {
    font-size: $fuente-grande;
    padding-bottom: 2rem;
    text-align: center;
}
p {
    font-size: $fuente-chica;
}
img {
    max-width: 100%;
}
img:hover {
height: 450px;
width: 450px;
}

.imagen-header {
    height: 15rem;
    margin-right: auto;
    
}

body {
    background-image: $bg-body;
}

