.contenedores-historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

@media screen and (min-width: 992px){
    .contenedores-historia{
        flex-direction: row;
    }
    
}

.contenedores-historia img{
    height: 350px;
    
}

