#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: $fuente-chica;
    background-color: rgb(172, 159, 159);
    padding: 15px;
    box-shadow: 10px 10px 10px;
    
}
input:focus {
    width: 300px;
    outline: none;
}
