.seiya {
    width: 17rem;
}
.saori {
    width: 17rem;
    height: 24rem;
}

#personajes {
    display: grid;
    grid-template-areas:
    "head head head"
    "personajes personajes personajes"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
}
#principales {
    grid-area: personajes;
}
#principales h1,
#principales p{
    text-align: center;
    color: black;
    font-size: $fuente-grande;
}
.papa-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
@media screen and (max-width: 990px) {
    .papa-card{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "head" "head"
        "personajes" "personajes"
        "footer" "footer";
    }
    
}
@media screen and (max-width: 750px){
    .papa-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.card li{
    text-align: center;
    color: black;
    font-size: $fuente-chica;

}